body{
  margin: auto;
  cursor:grabbing;
  width: 100%;

}

#particles-js{
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 5vmax;
  font-family: Arial;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.5vmax;
  line-height: 90%;
  text-transform: uppercase;
  margin: auto;
color: red;

}


p {
  font-size: 1.3vmax;
  font-family: Arial;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 140%;
  text-transform: uppercase;
  margin: auto;
color: red;
}

.main {
  position: static;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 200px;
  text-align: center;
  z-index: -1;
  mix-blend-mode: exclusion;
  padding: 0 10vw;
}

img {
  width: 18vmin;
}
